<table class="tabela-extrato">
  <thead class="tabela-cabecalho">
    <th>Data</th>
    <th>Valor</th>
    <th>Destino</th>
  </thead>
  <tbody *ngIf="transferencias?.length > 0; else listaVazia" class="tabela-infos"  >
    <tr *ngFor="let transferencia of transferencias">
      <td class="tabela-infos">{{ transferencia.data | date: 'short' }}</td>
      <td class="tabela-infos">{{ transferencia.valor | currency }}</td>
      <td class="tabela-infos">{{ transferencia.destino }}</td>
    </tr>
  </tbody>
</table>
<ng-template  #listaVazia>
  <div class="lista-vazia">

    <p> Não há movimentações.</p>
  </div>
</ng-template>
