.tabela-extrato{
    background-color: #364040;
    color: #fff;
    width: 30rem;   
    margin: 1rem auto;
    border-radius: .5rem;
    padding: .5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    box-shadow: 1px 1px 10px #000;
    border: .2rem solid #000;
}


.tabela-infos {
    border-bottom:  1px solid #fff;
    padding: .4rem;
    text-align: center;
}

.lista-vazia {
    display: flex;
    justify-content: center;
}

.titulo{
    text-align: center;
    color: #fff;
    background-color: #364040;
    width: 20%;
    margin: 1rem auto;
    padding: .2rem;
    border-radius: .4rem;
    border: .1rem solid #000;
}